.user-list__filter {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 3px solid rgb(200, 200, 200);
  border-bottom: 3px solid rgb(200, 200, 200);
}

.user-list__paging {
  grid-column-start: 2;
}
